name: CI/CD BACKEND

on:
  push:
    branches:
      - '**'        # roda em qualquer branch
  pull_request:
    branches:
      - '**'        # roda em qualquer PR
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Usar Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: ./backend/package-lock.json

      - name: Instalar dependências
        working-directory: ./backend
        run: npm install

      - name: Criar .env no backend
        working-directory: ./backend
        run: |
          touch .env
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      # Opcional: build
      # - name: Build
      #   working-directory: ./backend
      #   run: npm run build

      #- name: Rodar testes
      #  working-directory: ./backend
      #  run: npm test   # ou npm run test, se for o caso

      - name: Restart PM2 
        working-directory: ./backend
        run: pm2 restart BackendAPI